.skillsContainer {
  width: 100%;
  height: 300px;
  position: relative;

  @media screen and (min-width: 768px) {
    height: 500px;
    min-width: 500px;
    max-width: 600px;
  }
}

.screen {
  position: absolute;
  filter: blur(1px);
  opacity: 0.22;
}
.screen:nth-child(1) {
  top: 60px;
  right: 20px;
  @media screen and (min-width: 768px) {
    width: 280px;
    height: 200px;
    right: 0;
  }
}
.screen:nth-child(2) {
  top: 160px;
  left: 50px;
  @media screen and (min-width: 768px) {
    width: 230px;
    height: 250px;
  }
}
.screen:nth-child(3) {
  bottom: 20px;
  left: calc(50% - 60px);
  @media screen and (min-width: 768px) {
    width: 300px;
    height: 180px;
    bottom: 0;
  }
}

.badgeContainer {
  width: 210px;
  backdrop-filter: blur(3.5px);
  position: absolute;
  left: calc(50% - 75px);
  top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 16px;
  flex-wrap: wrap;
  backdrop-filter: blur(7.5px);
  background-color: rgba(50, 50, 50, 0.1);
  border-radius: 50px;
  padding: 22px;
  z-index: 20;

  @media screen and (min-width: 768px) {
    top: 210px;
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 12px;

  img {
    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}

.badge:nth-child(1) {
  background: linear-gradient(180deg, #5da7fe 0%, #00387a 100%);
}
.badge:nth-child(2) {
  background: linear-gradient(180deg, #93ffff 0%, #59a5ff 100%);
}
.badge:nth-child(3) {
  background: linear-gradient(180deg, #1b05a5 0%, #2b95f7 100%);
}
.badge:nth-child(4) {
  background: linear-gradient(180deg, #aae0ff 0%, #5affce 100%);
}
.badge:nth-child(5) {
  background: linear-gradient(180deg, #9d23da 0%, #2ddfc3 100%);
}
.badge:nth-child(6) {
  background: linear-gradient(180deg, #bbff78 0%, #00540e 100%);
}
.badge:nth-child(7) {
  background: linear-gradient(180deg, #ffa7c1 0%, #ff5050 100%);
}
.badge:nth-child(8) {
  background: linear-gradient(180deg, #e9acff 0%, #ff4fce 100%);
}
.badge:nth-child(9) {
  background: linear-gradient(180deg, #99daff 0%, #a966ff 100%);
}
