.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 24px;
  right: 24px;
}

.name {
  color: white;
}

.buttonMenu {
  color: white;
}
