.separatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 136px;
  height: 24px;

  .line {
    width: 88px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary);
    animation: grow 1s ease-in-out;
  }
  .line:last-child {
    margin-left: 50px;
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 88px;
  }
}
