.navigationStatusContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 92px;
  height: 30px;
  position: fixed;
  left: calc(50% - 46px);
  bottom: 24px;
  @media screen and (min-width: 768px) {
    left: 0;
    top: calc(50% - 15px);
    transform: rotate(90deg);
  }
}

.line {
  width: 2px;
  height: 20px;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.active {
  height: 30px;
}
