$max-width: 1100px;
$border-radius: 12px;

$white: #ffffff;
$white-content: #ffffff;
$white-contentMinor: rgba(255, 255, 255, 0.8);
$secondary: #00c495;

$font-title: 'Rubik', sans-serif;

$size-sm-title: 2.5rem;
$size-sm-subtitle: 1.1rem;
$size-sm-content: 0.7rem;

$size-md-title: 3rem;
$size-md-subtitle: 1.3rem;
$size-md-content: 0.9rem;

$size-xl-title: 4rem;
$size-xl-subtitle: 2rem;
$size-xl-content: 1rem;
