.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.title {
  font-size: var(--size-sm-title);
  font-weight: 400;
  text-wrap: wrap;
  width: min-content;
  text-transform: uppercase;

  @media screen and (min-width: 390px) {
    font-size: var(--size-sm-title);
  }
}
