.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 24px;
  flex: 1;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  text-wrap: wrap;
  width: min-content;
  text-transform: uppercase;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  input,
  textarea {
    border-radius: 12px;
    background: #102c4c;
    padding: 14px;
    color: var(--white-contentMinor);
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 0.5px solid transparent;
    text-overflow: ellipsis;

    &::placeholder {
      color: rgba(255, 255, 255, 0.2);
    }

    &:focus {
      border: 0.5px solid rgba(0, 196, 149, 1);
    }
  }

  textarea {
    height: 200px;
    resize: none;
  }

  .inputContainer {
    width: 100%;
    label {
      display: block;
      padding: 6px 10px;
      color: var(--white-contentMinor);
      font-size: 14px;
      font-weight: 400;
    }

    &:nth-child(1) {
      width: 48%;
    }
    &:nth-child(2) {
      width: 48%;
    }
  }

  input[type='submit'] {
    margin-top: 16px;
    background-color: var(--secondary);
    color: var(--white-content);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
